<div class="flex max-w-full w-[1440px] gap-[40px_93px] overflow-hidden justify-between flex-wrap mt-[70px] px-[100px] max-md:mt-10 max-md:px-5">
    <img
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/e630804e52ae2ef6bf13f7ae3dd557b77feeb35d?placeholderIfAbsent=true"
      class="aspect-[2.58] object-contain w-[124px] bg-blend-luminosity shrink-0"
      alt="Partner logo"
    />
    <img
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/c660dee84f918c9151aa261078a6294489814f06?placeholderIfAbsent=true"
      class="aspect-[2.62] object-contain w-[126px] bg-blend-luminosity shrink-0"
      alt="Partner logo"
    />
    <img
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/c37ed8ab2cc3b6242afca022bef22f410b00e126?placeholderIfAbsent=true"
      class="aspect-[2.69] object-contain w-[129px] bg-blend-luminosity shrink-0"
      alt="Partner logo"
    />
    <img
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/dde7b6f5f39ab63a4b4970c39252fda9a617da04?placeholderIfAbsent=true"
      class="aspect-[3.02] object-contain w-[145px] bg-blend-luminosity shrink-0"
      alt="Partner logo"
    />
    <img
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/472fc5d2ac7e5901a3fb4cf25159a83e57e0ff8c?placeholderIfAbsent=true"
      class="aspect-[2.62] object-contain w-[126px] bg-blend-luminosity shrink-0"
      alt="Partner logo"
    />
    <img
      src="https://cdn.builder.io/api/v1/image/assets/TEMP/0a8779be28584ea46d363884878c4102b30b953c?placeholderIfAbsent=true"
      class="aspect-[2.31] object-contain w-[111px] bg-blend-luminosity shrink-0"
      alt="Partner logo"
    />
  </div>